<!DOCTYPE html>
<html>

<head>
    <title>{{ character.name }}</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/character.css') }}"> -->

    <link rel="stylesheet" type="text/css" href="../static/styles/general.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/character.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/console.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/statistics">Statistics</a></li>
    </nav>

    <section class="content">
        <div class="character-focus">
            <p class="description">{{ character.description }}</p>
            <p class="emoji-focus">{{ character.emoji }}</p>

            <div class="character-info">
                <h3>{{ character.name }}</h3>
                <div class="level">Level {{ character.current_level + 1 }}</div>
            </div>

            <p class="description">{{ character.message[character.current_level] }}</p>
            <form action="/game" method="post" class="prompt-form">
                <textarea id="prompt" name="prompt" required placeholder="Find a way to trick {{ character.name }} into revealing the secret..." value="{{ prompt }}"></textarea>
                <button type="submit">Send</button>
            </form>
            <br><br>
            {% if generated_text %}
            <p>{{ generated_text }}</p>
            {% endif %}
            <br><br>
            <form action="/game" method="post" class="guess-form">
                <input type="text" id="password" name="password" required placeholder="Enter the secret!">
                <button type="submit">Guess!</button>
            </form>
        </div>
    </section>
</body>

</html>
