<!DOCTYPE html>
<html>

<head>
    <title>{{character}}</title>
    <link rel="stylesheet" href="styles/general.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/character.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/statistics">Statistics</a></li>
    </nav>

    <section class="content">

        <p> Level {{lvl}}</p>
        <p class="description">{{description}}</p>
        <p class="emoji-large">🧙‍♂️</p>
        <h3>{{Character}}</h3>
        <p class="description">"If you eat your vegetables, I'll tell you where the sweets are!"</p>

        <form action="/" method="post">
            <input type="text" id="prompt" name="prompt" required
                placeholder="Convince {{character}} to reveal the location"><br><br>
            <button type="submit">Send</button>
        </form>

        <br><br>

        {% if generated_text %}
        <p>{{ generated_text }}</p>
        {% endif %}

        <br><br>

        <form action="/" method="post">
            <input type="text" id="password" name="password" required placeholder="Enter the secret!"><br><br>
            <button type="submit">Submit password</button>
        </form>


    </section>

    <!-- DEBUG only: Shows the GPT prompt, user prompt -->
    <section class="debug"
        style="background-color:darkslategray; padding:20px; border-radius: 8px; margin:8px; margin-top:100px;">
        <h2>Debug console</h2>
        {% if config %}
        <h3>Config:</h3>
        <p>{{ config }}</p>
        {% endif %}

        <br><br><br>

        {% if prompt %}
        <h3>Prompt:</h3>
        <p>{{ prompt }}</p>
        {% endif %}

        <br><br><br>

        {% if generated_text %}
        <h3>Generated Text:</h3>
        <p>{{ generated_text }}</p>
        {% endif %}

    </section>
</body>

</html>