<!DOCTYPE html>
<html>

<head>
    <title>Gandalf V2</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/character.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">

</head>

<body>
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/statistics">Statistics</a></li>
    </nav>

    <section class="content">
        <p class="emoji-large">🧙‍♂️</p>
        <h1>Welcome to Gandalf Version 2!</h1>
        <p>✨ New characters, different backstories and mysterious secrets to discover!</p>

        <br>
        <h2>Choose your storyline</h2>

        <div class="character-slider">
            {% for character in characters %}
            <a href="/game?character={{character.id}}">
                <div class="character">
                    <h3>Story Progress</h3>
                    <p>
                        {% for _ in range(character.current_level) %}✅{% endfor %}
                        {% for _ in range(character.total_levels - character.current_level) %}☑️{% endfor %}
                    </p>
                    <p class="emoji-medium">{{ character.emoji }}</p>
                    <h3>{{ character.name }}</h3>
                    <p class="quote">{{ character.quote }}</p>
                    <p class="description">{{ character.description }}</p>
                </div>
            </a>
            {% endfor %}

            <a href="/custom">
                <div class="character-custom">
                    <h3> </h3>
                    <p> </p>
                    <p class="emoji-medium">💪</p>
                    <h3>You Decide</h3>
                    <p class="quote">"What vulnerabilities do you have?"</p>
                    <p class="description">Have you launched an LLM? Connect it here and see if it passes the Gandalf
                        test!
                    </p>
                </div>
            </a>

        </div>

    </section>

    <footer>
        <p>Made by <a href="https://www.linkedin.com/in/anirudhhramesh/" target="_blank">Anirudhh Ramesh</a>. Inspired by <a href="http://gandalf.lakera.ai" target="_blank">Lakera.ai</a>/p>
      </footer>
      
</body>

</html>