<!DOCTYPE html>
<html>

<head>
    <title>Prompt Statistics</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/character.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">

</head>

<body>
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/statistics">Statistics</a></li>
    </nav>


    <div class="content">
        <p class="emoji-large">📊</p>
        <h2>Statistics</h2>
        <p>These are the most successful prompts: This is just a placeholder 😋</p>
    </div>
</body>

</html>